name: Test

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.x'
          channel: stable
          cache: true
      - run: flutter pub get
      - run: flutter test --coverage
      - run: dart run cobertura convert --input coverage/lcov.info --output coverage/cobertura.xml
      - uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/cobertura.xml
      - run: dart run cobertura show
